#abilityRankList {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.abilityCategoryLabel {    
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #797979;
    text-shadow: 0.7px 0.7px 0.7px #808080;
}

.abilityCategorySublabel {
    font-size: 25px;
    color: #797979;
    font-weight: bolder;
    margin-left: 16px;
    float: right;
    margin-top: 7px;
}

#abilityRankList > li {
    margin-top: 12px;
    margin-bottom: 10px;
}