.countryDetail {
    /* fill: lightgray; */
    /* stroke: darkgrey; */
    fill: darkgray;
    stroke: white;
    stroke-width: 1.5px;
} 
.countryDetail:hover {
    fill: #797979;
}
div.tooltipDestinationDetail {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 24px;
    padding: 2px;
    font: 12px sans-serif;
    background: green;
    border: 0px;
    border-radius: 0px;
    pointer-events: none;
    padding-top: 5px;
}
div.tooltipOriginDetail {
    position: absolute;
    text-align: center;
    width: 130px;
    height: 34px;
    padding: 2px;
    font: 18px sans-serif;
    background: red;
    border: 0px;
    border-radius: 0px;
    pointer-events: none;
    padding-top: 5px;
}