body {
    color: #d43f3a;
}

#submitData {
    margin-top: 220px;
}

#nameInputLabel {
    font-size: 22px;
    text-align: center
}

.button_submit {
    padding: 6px 16px;
    font-size: 18px;
    line-height: 1.9;
    border-radius: 3.5px;
    background-color: white;
    border: #d43f3a solid 2.5px;
    color: #d43f3a;
    font-weight: bold !important;
}

.button_submit:hover, 
.button_submit:visited, 
.button_submit:active {
    background-color: #d43f3a;
    color: white;
}
.block_row {
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.block_col {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;    
}

.spinnerContainer {
    display: none;
}

.spinner-backdrop {
    background-color: #333;
    background-color: #333;
    z-index: 99999;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    left: 0;
    /* top: 0; */
    height: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 35%;
  left: 50%;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
