.progress_text {
    /* font-family: sans-serif; */
    font-size: 16px;
    stroke: black;
}

.progress_text_avg {
    /* font-family: sans-serif; */
    font-size: 20px;
    stroke: black;
}

.gradeLeftBottom {
	display: inline-block;
	width: 300px;
	margin-top: 25px;
}

