.main_color {
    background-color: #ea0530;
    border-color: #ccc;
    color: white;
}

.nav>li>a {
    color: white;
}

.nav>li>a:hover {
    color: black;
}

.navbar-brand, 
.navbar-brand:hover  {
    color: white;
}